.cover-img{
    filter: brightness(50%);
}

.institute-about{
    background-color:  #F4FAFD;
   
}

.course img{
    height: 150px;
width: 200px;
  }

  @media screen and (max-width:576px) {
    .course img{
      width:450px;
      height: 300px;

    }
    .carousel-inner h3{
        margin: 0px;
        font-size: 12px;
    }
    .carousel-inner p{
        font-size: 8px;
        margin:7px 0 ;
    }
    .carousel-inner .btn{
        padding: 7px 12px;
        font-size:7px ;
        margin: 0;
        border-radius: 15%;
    }
    
  }