.cover-img{
    filter: brightness(50%);
}

.institute-about{
    background-color:  #F4FAFD;
   
}
.course img{
    height: 150px;
width: 200px;
  }

  @media screen and (max-width:576px) {
    .course img{
      width:450px;
      height: 300px;

    }
  }